.gallery {
    display: flex;
    padding: 0vw;
    margin-top: 2vw;
    border: solid 0.3vw white;
}

.gallery.light {
    border: solid 0.3vw black;
}

video {
    width: 100%;
    height: auto;
    padding: 0vw;
    border: solid 0.2vw white;
}

video.light {
    border: solid 0.2vw black;
}