<html>
	<head>
		<title>Gallery | J.A.R.V.I.S.</title>
		<link rel="stylesheet" href="gallery-styles.css">
	</head>
	
	<body>
		<div class="heading">GALLERY</div>
		
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

<div class="gallery">
	<div class="gallery-row">
			<figure class="gallery-thumb">
				<video autoplay muted loop ><source src="clip1.mp4" class="gallery-image"><video>
			</figure>

			<figure class="gallery-thumb">
				<video autoplay muted loop><source src="clip2.mp4" class="gallery-image"><video>
			</figure>
			
			<figure class="gallery-thumb">
				<video autoplay muted loop><source src="clip3.mp4" class="gallery-image"><video>
			</figure>
	</div>
	
	<div class="gallery-row">
			<figure class="gallery-thumb">
				<video autoplay muted loop><source src="clip5.mp4" class="gallery-image"><video>
			</figure>

			<figure class="gallery-thumb">
				<video autoplay muted loop><source src="clip1.mp4" class="gallery-image"><video>
			</figure>
			
			<figure class="gallery-thumb">
				<video autoplay muted loop><source src="clip4.mp4" class="gallery-image"><video>
			</figure>
	</div>
	
	
</div>
	</body>
</html>
